* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
header {
  background: url(./assets/background-deer.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: center;
}
div {
  width: 40%;
  padding: 20px;
}
h1,
p {
  color: white;
}
h1 {
  font-size: 2em;
}
p {
  font-size: 1em;
}
main {
  width: 80%;
  margin: 40px auto;
}
section {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 24px;
}
article {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 820px) {
  header {
    height: 280px;
    background-size: cover;
  }
  div {
    width: 40%;
    padding: 20px;
  }
  p {
    font-size: small;
  }
  section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 24px;
  }
}
@media screen and (max-width: 460px) {
  div {
    width: 35%;
    padding: 20px;
  }
  section {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 24px;
  }
  h1 {
    font-size: medium;
  }
  p {
    font-size: x-small;
  }
}
